<!DOCTYPE html>
<html lang="en-GB">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YarnTale - Tales from the Yarn Ball / Sophie the Owl's Crochet School</title>
    <link rel="stylesheet" href="wix.css">
	<link rel="icon" type="image/png" href="webimg/icons/favicon.png">
 </head>
 
<body>

<header class="top-header">
<center><div class="banner">
	<img src="webimg/banners/lace_banner_en.jpg" alt="YarnTale crochet lace" width="900px" align="center" />
</div></center>
  <nav class="button-menu">
    <a href="home_en.html">Home</a>
    <a href="tales_en.html">Tales</a>
    <a href="gallery_en.html">Characters</a>
    <a href="school_en.html">Crochet School</a>
    <a href="mk_en.html">Master-Class</a>
  </nav>
</header>


<div class="content">
<a id="top"></a>
<h1 style="margin:0 0 10px 0; font-size: 26pt; text-shadow:1px 2px 3px #ccc; text-align:center; color:#F27805; line-height:1;">
🦉Crochet School of the Sofie the Owl 🦉</h1>
<img src="webimg/banners/school_banner_en.jpg" style="box-shadow: 4px 4px 4px #ccc; border: 1px solid #f29933; " alt="YarnTale Home page window" width="900px" align="center"/>



<h1>🎀 Заголовок 🎀</h1>
<h3>🌟 Глава 🌟</h3>
  
<p>&nbsp; &nbsp; &nbsp; &nbsp; 
текст





</p>
</div>

<div class="footer">
© 2026 OliSoft | YarnTale - с любовью и волшебством 💫 - All rights reserved.

</div>
</body>
</html>