<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YarnTale — Сказки из клубочка / Школа вязания крючком совы Софии</title>
    <link rel="stylesheet" href="wix.css">
	<link rel="icon" type="image/png" href="webimg/icons/favicon.png">
 </head>
 
<body>

<header class="top-header">
<center><div class="banner">
	<img src="webimg/banners/lace_banner_ru.jpg" alt="YarnTale crochet lace" width="900px" align="center" />
</div></center>
  <nav class="button-menu">
        <a href="home_ru.html">Главная</a>
        <a href="tales_ru.html">Истории</a>
        <a href="gallery_ru.html">Герои</a>
        <a href="school_ru.html">Школа</a>
        <a href="mk_ru.html">Мастер-классы</a>
  </nav>
</header>


<div class="content">
<a id="top"></a>
<h1 style="margin:0 0 10px 0; font-size: 26pt; text-shadow:1px 2px 3px #ccc; text-align:center; color:#F27805; line-height:1;">
🦉 Школа вязания крючком совы Софии 🦉 </h1>
<img src="webimg/banners/school_banner_ru.jpg" style="margin: 0 auto; width: 900px; box-shadow: 4px 4px 4px #ccc; border: 1px solid #f29933; " alt="YarnTale Crochet School" />



<h1>🎀 Заголовок 🎀</h1>
<h3>🌟 Глава 🌟</h3>
  
<p>&nbsp; &nbsp; &nbsp; &nbsp; 
текст




</p>



<a href="#top" class="top">В начало страницы</a>
</div>

<div class="footer">
© 2026 OliSoft | YarnTale — с любовью и волшебством 💫 — Все права защищены.

</div>
</body>
</html>