<!DOCTYPE html>
<html lang="de-DE">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YarnTale – Geschichten aus dem Garnknäuel / Sophies Häkel­schule</title>
    <link rel="stylesheet" href="wix.css">
	<link rel="icon" type="image/png" href="webimg/icons/favicon.png">
</head>
 
<body>

<header class="top-header">
<center>
<div class="banner">
	<img src="webimg/banners/lace_banner_de.jpg" alt="YarnTale Häkelspitze" width="900px" align="center" />
</div>
</center>

<nav class="button-menu">
    <a href="home_de.html">Startseite</a>
    <a href="tales_de.html">Geschichten</a>
    <a href="gallery_de.html">Charaktere</a>
    <a href="school_de.html">Häkelschule</a>
    <a href="mk_de.html">Masterclassese</a>
</nav>
</header>

<div class="content">
<a id="top"></a>
	<h1 style="margin:0 0 10px 0; font-size: 26pt; text-shadow:1px 2px 3px #ccc; text-align:center; color:#F27805; line-height:1;">
	🦉 Sophies Häkel­schule 🦉
	</h1>

	<img src="webimg/banners/school_banner_de.jpg"
	     style="box-shadow: 4px 4px 4px #ccc; border: 1px solid #f29933;"
	     alt="YarnTale – Schulbanner"
	     width="900px"
	     align="center"/>

	<h1>🌟💖 Kreativität als Weg zu sich selbst 💖🌟</h1>
</div>
	
	
<div class="main-container">

	<!-- linke Spalte -->

	
	<!-- rechte Spalte -->

	
	
</div>


<div class="footer">
© 2026 OliSoft | YarnTale — mit Liebe und Inspiration 💫 – Alle Rechte vorbehalten.
</div>

</body>
</html>
